.highlight{
    background-color: teal;
}
.navbar-style{
    background-color: mediumaquamarine;
}
.green-highlight {
    color: green
}
.red-text {
    color:red
}
.hand-hover {
    cursor: pointer;
}